version: "2"
services:

    adminer:
        build: .docker/adminer
        container_name: restaurant-adminer
        restart: always
        depends_on:
            - mysql
        ports:
            - "805:8080"
        environment:
            - ADMINER_DEFAULT_SERVER=mysql

    mysql:
        image: mariadb:10.5.8
        container_name: restaurant_api-mysql
        working_dir: /application
        volumes:
            - ./.docker/.db-data/mysql:/var/lib/mysql
            - ./.docker/.db-data/mysql-files:/var/lib/mysql-files
        environment:
            - MYSQL_ROOT_PASSWORD=root
            - MYSQL_DATABASE=restaurant_api
        ports:
            - "1212:3306"

    php:
        build: .docker/php
        extra_hosts:
            - "host.docker.internal:host-gateway"
        container_name: restaurant_api-php
        working_dir: /application
        volumes:
            - .:/application
            - ./.docker/php/php-ini-overrides.ini:/usr/local/etc/php/conf.d/99-overrides.ini
            - ./.docker/php/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini

    webserver:
        image: nginx:alpine
        container_name: restaurant_api-webserver
        working_dir: /application
        volumes:
            - .:/application
            - ./.docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
        ports:
            - "802:80"
